<a [routerLink]="['/users']" class="btn btn-primary bottom-margin">Go Back</a>
<p>
    user-details !<br> {{user}}
</p>
<!--<div class="row">
    <div class="col-md-6">
        <img [src]="user.profilePic" width="300" height="300">
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">State</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address.state}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->